* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #3E3443;
}

#waiting {
    margin-top: 190px;
    color: #F0F1FE;
}

table {
    float: left;
    border-collapse: collapse;
    background: #336B87;
}

td {
    position: relative;
    width: 70px; height: 70px;
}

.dot {
    position: relative;
    width: 7vmin;
    height: 7vmin;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6vmin;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 1vmin;
    margin-left: 1vmin;
    cursor: pointer;
    z-index: 2;
}

.p1 {
    background-color: #e4a6ae;
    border: 1vmin solid #B93848;
}

.p1_king {
    background-image: url("../img/king_p1.png");
}

.p2 {
    background-color: #F1F1FF;
    border: 1vmin solid #8b8bff;
}

.p2_king {
    background-image: url("../img/king_p2.png");
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
    background: black;
}

.pieceSelected {
    box-shadow: 0 0 10px 5px #16A8C7;
}
#chat_title {
    position: fixed;
    width: 300px;
    background: rgba(82,179,217,0.9);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#info_panel {
    float: left;
    width: 300px;
    height: 700px;
    background-color: #505160;
    color: white;
    overflow-y: auto;
}

#info_panel #profile_images {
    margin-top: 30px;
    margin-left: 35px;
    
    
}

#info_panel #profile_images #user1{
    float: left;
    height: 200px;
    text-align: center;
    
}
#info_panel #profile_images #user2{
    float: left;
    margin-left: 65px;
    text-align: center;
}

#info_panel img {
    border-radius: 50%
}






#info_panel input {
    position: fixed;
    top: 648px;
    width: 190px;
    height: 50px;
    z-index: 99;
    background: #fafafa;
    border: none;
    border-top: 2px #9b9b9b solid;
    outline: none;
    padding-left: 55px;
    padding-right: 55px;
    color: #666;
    font-weight: 400;
}


.msg {
    background: white;
    margin: 0 auto;
    margin-top: 8px;
    box-sizing: border-box;
    min-height: 50px;
    width: 97%;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
    word-break: break-all;
}

.msg:first-of-type {
    margin-top: 65px;
}

.msg:last-of-type {
    margin-bottom: 100px;
}

.msg p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
    color: #777;
}

p.name {
    font-weight: bold;
}

#turn {
    float: right;
    width: 100%;
    height: 25px;
    background-color: black;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
}
