/*!
 * Start Bootstrap - Scrolling Nav (https://startbootstrap.com/template-overviews/scrolling-nav)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-scrolling-nav/blob/master/LICENSE)
 */

header {
    margin-top: 40px;
    padding: 154px 0 50px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("../img/checker.jpg");;
    background-size: 100% 100%;

}


@media (min-width: 992px) {
    header {
        padding: 50px 0 50px;
    }
}

section {
    padding-top: 10px;
    padding-bottom: 200px;
}

footer {

}
