<template>
  <section id="loading-container-cashout" class="row vs-con-loading__container">
   
    <div class="col-lg-7 mx-auto">
      <h2>Cashout</h2>

      <div class="mt-4 card">
        <div class="card-body">
          don't cashout fucking fuck
        </div>
      </div>

      <div id="selectCurrency" class="col-lg-5">
        <div class="form-group">
            <label style="width: 400px;" for="exampleFormControlSelect1">Select Currency</label>
            <select id="exampleFormControlSelect1">
                <option>BTC</option>
            </select>

             
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect1">Withdrawal address (You can change it in profile settings)</label>
            <vs-input style="width: 400px;" disabled class="inputx" placeholder="Disabled"/>
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect1">Amount (Satoshis)</label>
            <vs-input style="width: 400px;" class="inputx" v-model="cashoutAmount"/>
            <strong>BTC: </strong> {{fromSatoshiToBtc}} 
        </div>

      </div>

    </div>
  
  </section>
</template>

<script>
export default {
  name: 'Cashout',
  data() {
    return {
        cashoutAmount: 1,
    }
  },

  computed: {
    fromSatoshiToBtc: function() {
      return(this.cashoutAmount/100000000);
    }
  }

  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  margin: 40px 0 0;
}

#selectCurrency {
  margin-top: 20px;
  margin-left: -14px;
}
</style>
