<template>
</template>

<script>
import API from '../api/Api';

export default {
  name: 'Home',

  created() {
    if (this.$route.params.referredBy !== null) {
      // REDIRECT TO REGISTER
    }

    let hash = this.$route.params.hash;
    let route = API.confirmEmail + hash;

    this.axios.get(route)
    .then((response) => {
       this.$store.commit("login", {authenticationToken: response.headers.authorization});
       this.$router.push({name: "profile"});
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  margin: 40px 0 0;
}
</style>
