<template>
  <section id="loading-container-deposit" class="row vs-con-loading__container">
   
    <div class="col-lg-7 mx-auto">
      <h2>Deposit</h2>

      <div class="mt-4 card">
        <div class="card-body">
          Deposit any amount you'd like to this addresses, they are uniquely generated for you and each deposit to these
          will be accredited to your account as soon as they are confirmed by Blockchain.
        </div>
      </div>

      <table class="mt-5 table table-bordered">
        <thead class="thead-light">
        <tr>
          <th scope="col">Currency</th>
          <th scope="col">Address</th>
        </tr>
        </thead>
        <tbody>
          
          <tr v-if="dataLoaded" v-for="address in addresses">
            <td>{{ address.currency }}</td>
            <td>{{ address.address }}</td>
          </tr>
        
        </tbody>
      </table>

    </div>
  
  </section>
</template>

<script>
import API from '../api/Api';

export default {
  name: 'Deposit',
  
  data() {
    return {
      dataLoaded: false,
      addresses: [{}]
    }
  },

  created() {
   this.axios.get(API.deposit)
    .then(response => {
        if (response.data !== null) {
          console.log("data");
            this.addresses = response.data;
            console.log();
            this.dataLoaded = true;
        }

        this.$vs.loading.close("#loading-container-deposit > .con-vs-loading");
    });
  },

  mounted() {
    if (!this.dataLoaded) {
      this.$vs.loading({
        container: '#loading-container-deposit',
        type: 'point',
        scale: 0.9
      });
    }
    
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  margin: 40px 0 0;
}
</style>
