<template>
   <div id="game">
        <div v-show="this.showWaitingText" id="waiting">
            <div style="text-align: center;">
                <p id="waiting_text"> {{ this.waitingText }}</p>
                <img v-show="this.showWaitingLogoImage" src="@/assets/img/loading.svg">
            </div>
        </div>

        <flash-message style="text-align: center; z-index: 2;"></flash-message>
        <div v-show="!this.showWaitingText" id="game_board"></div>
      
        <div v-show="!this.showWaitingText" id="info_panel">
            <div id="profile_images">
                <div id="user1">
                    <img id="user1_img" src="https://www.gravatar.com/avatar/c03b5cf1d3abe1f40fa1b7415ca0b11e" />
                    <p id="user1_name">User 1</p>
                    <div class="strikes"><font-awesome-icon class="icon heart" :icon="myStrikesIcon" />Strike {{ myStrikes }}</div>
                </div>   
            
                <div id="user2">
                    <img  id="user2_img" src="https://www.gravatar.com/avatar/c03b5cf1d3abe1f40fa1b7415ca0b11e" />
                    <p id="user2_name">User 2</p>
                    <div class="strikes"> <font-awesome-icon class="icon heartbroken" :icon="opponentsStrikesIcon" />Strike {{ this.opponentStrikes }}</div>
                </div>
            </div>

            <div id="turn_info">
                <div id="turn"></div>

                <div id="countdown">
                    <span id="seconds_left">&nbsp;</span>s
                </div>

            </div>

            <div id="moved_pieces">

                <div class="moved_pieces_info">
                    1-3 to 5-6
                </div>
            </div>

            <button v-on:click="abandonMatch">Abandon</button>
        </div>        
    </div>
</template>


<script>
import { faHeart, faHeartBroken } from '@fortawesome/free-solid-svg-icons'
import ValidMovementCollection from '../assets/js/ValidMovementCollection';
import ValidMovement from '../assets/js/ValidMovement';
import Player from '../assets/js/Player';
import Piece from '../assets/js/Piece';
import Cell from '../assets/js/Cell';
import Board from '../assets/js/Board';
import GameStatus from '../constants/gameStatus';
import { clearInterval } from 'timers';

export default {
  name: 'GameClient',
   data() {
    return {
        waitingText: "You are being matched up, please wait.",
        gameStatus: GameStatus.WAITING,
        player: false,
        board: false,
        opponentStrikes: 0,
        audio: new Audio(require('../assets/sound/notification.wav')),
        turnTimeoutCountdownInterval: false,
    }
  },

  sockets: {
    opponent_found: function() {
        this.waitingText = "Opponent found, preparing room and board, please wait.";
    },

    ready: function(data) {
        console.log("ready");
        console.log(data);
        this.setInfoPanel(data);
        this.gameStatus = GameStatus.IN_PROGRESS;
        this.waitingText = "";

        this.player = new Player(data.player, data.myName, this.$socket);
        this.player.setStrikes(data.strikes);
        this.opponentStrikes = data.opponentInfo.strikes;
        this.board = new Board(this.player, data.boardInfo, this.$socket, this.$el.querySelector("#turn_info"), this.audio);
        
        this.$el.querySelector("#game_board").appendChild(this.board.printStartingBoard());
        
        if (this.player.isMyTurn(this.board.playerTurn)) {
            this.setTurnTimeOut(data.turnTimeout);
        }
    },

    piece_moved_event: function(data) {
        console.log("piece_moved_event");
        console.log(data);
        let fromCell = this.board.getCellByPosition(data.pieceToMove.y, data.pieceToMove.x);
        let toCell = this.board.getCellByPosition(data.toCell.y, data.toCell.x);
        this.board.movePiece(fromCell, toCell);

        if (data.hasOwnProperty("cellToEat")) {
            let cellToEat = this.board.getCellByPosition(data.cellToEat.y, data.cellToEat.x);
            this.player.removePiece(cellToEat.getPiece());
            this.board.removePiece(cellToEat);
        }

        if (data.convertPieceToKing) {
            let piece = toCell.getPiece();
            piece.convertToKing();
        }

        if (data.changeTurn) {
            this.board.changeTurn();
            this.player.resetLastClickedPieceElement();
        }         

        
        window.clearInterval(this.turnTimeoutCountdownInterval);
        
        this.setTurnTimeOut(data.turnTimeout);
    },

    game_status: function(data) {
        console.log(data);
        //$("#chat_board").remove();
        this.gameStatus = GameStatus.FINISHED;
        
        this.$el.querySelector("#game_board").remove();
        this.$el.querySelector("#info_panel").remove();

        let message = "";
        if (data.status === "win") {
            message = "You won, congratulations";
        } else if (data.status === "tie") {
            message = "Match Tied"
        } else if (data.status === "lost") {
            message = "Match Lost"
        }

        this.waitingText = `You ${data.status}`;
        
    },

    force_new_board: function() {
        console.log("Force new board");
        location.reload();
    },

    change_turn: function(data) {
        console.log(data);
        if (data.reason === "turn_timed_out") {
            this.opponentStrikes = data.opponentsStrikes;
        }

        this.setTurnTimeOut(data.turnTimeout);
        this.board.changeTurn();
        
    },

    strike_added: function(data) {
        this.player.setStrikes(data.strikes);
        this.board.changeTurn();
        
        this.flash("You've lost your turn due to waiting to long, You've been penalized with 1 strike. ", "warning", {
                    timeout: 5000,
                  });
        // add notification to user
    }

  },

  created() {
      this.$socket.emit('start_session', {accessToken: this.$store.getters.authenticationToken});
  },

  mounted() {
      
  },
  
  methods: {
      abandonMatch() {
          this.player.socket.emit('abandon_match');
      },

      setTurnTimeOut(seconds) {
        let secondsLeftElement = this.$el.querySelector("#seconds_left");
        let secondsLeft = seconds;
        


        this.turnTimeoutCountdownInterval = setInterval(() => {
            secondsLeft--;
            secondsLeftElement.innerHTML = secondsLeft;
            if(secondsLeft <= 0) {
                window.clearInterval(this.turnTimeoutCountdownInterval);
                secondsLeftElement.innerHTML = "";
                this.turnTimeoutCountdownInterval = false;
            } 
        },1000);

      },

      setInfoPanel(data) {
            //user1_img
            //user2_name

            let user1img = this.$el.querySelector("#user1_img");
            user1img.src = data.logoUrl;

            let user1Name =  this.$el.querySelector("#user1_name");
            user1Name.innerHTML = data.myName;

            let user2img = this.$el.querySelector("#user2_img");
            user2img.src = data.opponentInfo.logoUrl;

            let user2Name =  this.$el.querySelector("#user2_name");
            user2Name.innerHTML = data.opponentInfo.name;
      }
  },
  computed: {
    showWaitingText: function() {
        return this.gameStatus == GameStatus.WAITING || this.gameStatus == GameStatus.FINISHED;
    },

    showWaitingLogoImage: function() {
        return this.gameStatus != GameStatus.FINISHED;
    },

    myStrikes: function() {
        if (!this.player) {
            return 0
        }

        return this.player.getStrikes();
    },

    myStrikesIcon() {
        if (!this.player) {
            return faHeart;
        } else if (this.player.getStrikes() > 0) {
            return faHeartBroken;
        }

        return faHeart;
    },

    opponentsStrikesIcon() {
        if (this.opponentStrikes > 0) {
            return faHeartBroken;
        }

        return faHeart;
    }


  }
}
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {
    margin: 0px !important;
    padding: 0px !important;
    font-family: 'Open Sans', sans-serif;
}

#game {
    height: 680px !important; 
    width: 100% !important;
    display:inline-block;
    background-color: #3E3443 !important;
}

#waiting {
    height: 250px;
    width: 100%;
    margin-top: 150px !important;
    font-size: 30px;
    color: #F0F1FE;
}

::v-deep table {
    float: left;
    border-collapse: collapse;
    background: #336B87;
    
}

::v-deep td {
    position: relative;
    width: 70px; height: 70px;
}

::v-deep .dot {
    position: relative;
    width: 7vmin;
    height: 7vmin;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6vmin;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 1vmin;
    margin-left: 1.3vmin;
    cursor: pointer;
    z-index: 2;
}

::v-deep .p1 {
    background-color: #e4a6ae;
    border: 1vmin solid #B93848;
}

::v-deep .p1_king {
    background-image: url("../assets/img/king_p1.png");
}

::v-deep .p2 {
    background-color: #F1F1FF;
    border: 1vmin solid #8b8bff;
}

::v-deep .p2_king {
    background-image: url("../assets/img/king_p2.png");
}

::v-deep tr:nth-child(odd) td:nth-child(even), ::v-deep tr:nth-child(even) td:nth-child(odd) {
    background: black;
}

::v-deep .pieceSelected {
    box-shadow: 0 0 10px 5px #16A8C7;
}

#info_panel {
    float: left;
    width: 300px;
    height: 700px;
    background-color: #505160;
    color: white;
}



#turn_info {
    margin-top: 210px !important;
    border-top: 2px solid #424351;
}

#turn {
    float: left;
    margin-top: 20px !important; 
    margin-left: 20px !important;
    padding: 10px !important;
    border: 2px solid #424351;
    text-align: center;
    border-radius: 10px;
    width: 150px;
}

#moved_pieces {
    float: left;
    background-color: #d8d8d8;
    margin-top: 15px !important; 
    margin-left: 20px !important;
    border: 2px solid #424351;
    border-radius: 10px;
    width: 260px !important;
    height: 330px;
    overflow-y: scroll;
}

.moved_pieces_info {
    
    width: 100% !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-align: center;
    border-bottom: 1px solid black;

}

.my_turn {
    background-color: #12964b;
}

.waiting_turn {
    background-color: #a54e31;
    width: 260px !important;
}

#countdown {
    float: left;
    margin-top: 20px !important; 
    margin-left: 30px !important;
    padding: 10px !important;
    border-radius: 10px;
    width: 80px;
    text-align: center;
    background-color: #2d2d30;
    color: red;
    border: 2px solid #424351;
    font-weight: bold;
}

#profile_images {
    margin-top: 30px !important;
    margin-left: 35px !important;
    text-align: center;
    background-color: black;
}

#user1{
    float: left;
    text-align: center;
    
}

#user2{
    float: left;
    text-align: center;
    margin-left: 50px !important;
    
}

.strikes {
    margin-top: 15px !important;
    border-radius: 20px;
    text-align: center;
    padding: 8px !important;
    background-color: #62636b
}

.icon {
    color: red;
    margin-right: 5px !important;
}


#info_panel img {
    border-radius: 50%;
}



#info_panel input {
    position: fixed;
    top: 648px;
    width: 190px;
    height: 50px;
    z-index: 99;
    background: #fafafa;
    border: none;
    border-top: 2px #9b9b9b solid;
    outline: none;
    padding-left: 55px;
    padding-right: 55px;
    color: #666;
    font-weight: 400;
}


.msg {
    background: white;
    margin: 0 auto;
    margin-top: 8px;
    box-sizing: border-box;
    min-height: 50px;
    width: 97%;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
    word-break: break-all;
}

.msg:first-of-type {
    margin-top: 65px;
}

.msg:last-of-type {
    margin-bottom: 100px;
}

.msg p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
    color: #777;
}

p.name {
    font-weight: bold;
}

::v-deep .flash__message {
    z-index: 3;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 0); 
    position: absolute !important;
    
}

</style>
