<template>
  <section id="loading-container" class="row vs-con-loading__container">
    <div class="container">
      
      <div class="col-lg-8 mx-auto">
        <h2>Login</h2>
          <div v-if="errors.length > 0" class="alert alert-danger">
            <ul>
                <li v-for="(error, index) in errors" :key="index">
                    {{ error }}
                </li>
            </ul>
            
          </div>
            
          <form @submit="loginUser">
             <div class="form-group">
                <label for="email">Username</label>
                <input v-model="username" type="text" class="form-control" value="" id="username" aria-describedby="username" placeholder="Username" required>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input v-model="password" type="password" class="form-control" value="" id="password" name="password" placeholder="Password" required>
              </div>

              <button  type="filled" color="primary" class="btn btn-primary">Login</button>
          </form>
        
      </div>
      
    </div>
  </section>
</template>

<script>
import API from '../api/Api';

export default {
  name: 'Login',
  
  data() {
    return {
      username: "",
      password: "",
      errors: [],
    }
  },

  methods: {
    loginUser: function(event) {
      event.preventDefault();
      this.$vs.loading({
        container: '#loading-container',
        type: 'point',
        scale: 0.9
      });

      this.axios({
        method: 'post',
        url: API.userLogin,
        transformResponse: (res) => {
          return {};
        },
        responseType: 'json',
        data: {
          username: this.username,
          password: this.password,
        },
      }).catch(error => {
        
          // Should not happen after user registered
          console.log(error);
          throw error;
      }).then(response => {
        
        this.$store.commit("login", {authenticationToken: response.headers.authorization});
        return response;
      }).then(response => {
        
        this.$router.push({name: "profile"});
      });

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  margin: 40px 0 0;
}
</style>
