<template>
  <header class="text-white">
    <div class="container text-center">
        <img src="@/assets/img/logo.png">
        <!--<p class="lead">Crypto Checkers</p>-->
    </div>
  </header>
</template>

<script>
export default {
  name: 'LogoHeader'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
