<template></template>

<script>
export default {
  name: 'Logout',

  created() {
    this.$store.commit('destroySession');
    this.$router.push({name: 'login'})
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  margin: 40px 0 0;
}
</style>
