<template>
  <ul class="navbar-nav ml-auto">
    <div class="dropdown mx-auto center-block">
      <button :v-if="primaryWallet" class="btn btn-primary dropdown-toggle" type="button" id="myBalanceDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ primaryWallet }}</button>
        <div v-if="wallets.length > 0" class="dropdown-menu" aria-labelledby="myBalanceDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
  </ul>
</template>

<script>
import API from '../api/Api';
export default {
  name: 'MyBalance',
  data() {
    return {
      primaryWallet: "",
      wallets: []
    }
  },
  created() {
    this.axios.get(API.myBalance)
    .then(function(response){
        if (response.data !== null) {
          let firstElement = true;
            for (var index in response.data) {
              if (firstElement) {
                this.primaryWallet = index + " Balance: " + response.data[index];
                firstElement = false;
              }
              
            
            }
        }
    }.bind(this));
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  margin: 40px 0 0;
}
</style>
