<template>
  <div class="nav">
   <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger " href="#page-top">Crypto Checkers</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
          <div class="collapse navbar-collapse" id="navbarResponsive" v-if="!loggedIn">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <router-link :to="{name: 'login'}" class="nav-link">Login</router-link>
                  </li>
                  <li class="nav-item">
                      <router-link :to="{name: 'register'}" class="nav-link">Register</router-link>
                  </li>
              </ul>
          </div>

            <div class="collapse navbar-collapse" id="navbarLoggedIn" v-if="loggedIn">
                <MyBalance />

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <router-link :to="{name: 'profile'}" class="dropdown-item">My Profile</router-link>
                            <a class="dropdown-item" href="">Settings</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Balance
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <router-link :to="{name: 'deposit'}" class="dropdown-item">Deposit</router-link>
                            <router-link :to="{name: 'cashout'}" class="dropdown-item">Cashout</router-link>
                            <router-link :to="{name: 'transactions'}" class="dropdown-item">Transactions History</router-link>
                        
                        </div>
                    </li>

                    <li class="nav-item">
                        <router-link :to="{name: 'logout'}" class="nav-link">Logout</router-link>
                    </li>

                    <li class="nav-item">
                        <a href="#" onClick="window.open('/client','Play Match','resizable,height=700,width=1000'); return false;">
                            <button type="button" class="btn btn-warning">Play Match</button>
                        </a>
                        <noscript> <a href="" target="_blank">New Page</a></noscript>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
  </div>
</template>

<script>
import MyBalance from './MyBalance';
export default {
  name: 'Navigation',
  components: {
      MyBalance
  },
  computed: {
      loggedIn: function () {
          return this.$store.getters.loggedIn;
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  margin: 40px 0 0;
}
</style>
