<template>
    <div class="container" id="flash-message">
      <div class="col-lg-8 mx-auto">
        <flash-message style="text-align: center;"></flash-message>
      </div>
    </div>
</template>

<script>
import API from '../api/Api';
import { setInterval } from 'timers';
export default {
  name: 'Notifications',

  created() {
    setInterval(() => {
      if (this.$store.getters.loggedIn) {
        this.axios.get(API.notifications)
        .then((response) => {
            if (response.data !== null && response.data.length > 0) {
                response.data.forEach(notification => {
                  this.flash(notification.message, notification.type, {
                    timeout: 10000,
                  });
                });
            }
        });
      }
    }, 5000);
  },
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  margin: 40px 0 0;
}

#flash-message {
  margin-top: 20px;
}
</style>
