<template>
  
  <section id="loading-container-profile" class="row vs-con-loading__container">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mx-auto">
          <h4>My Profile</h4>

          

            <div class="form-group row">
              <label for="staticEmail" class="col-sm-4 col-form-label">Username:</label>
              <div class="col-sm-6">
                <input type="text" readonly class="form-control-plaintext" v-model="this.username">
              </div>

              <label for="staticEmail" class="col-sm-4 col-form-label">Referrals:</label>
              <div class="col-sm-6">
                <input type="text" readonly class="form-control-plaintext" v-model="this.numberOfReferrals">
              </div>

              <label for="staticEmail" class="col-sm-4 col-form-label">Registration Date:</label>
              <div class="col-sm-6">
                <input type="text" readonly class="form-control-plaintext" v-model="this.registrationDate">
              </div>

            </div>
          

        </div>
        
        <div class="col-lg-5 mx-auto">
          <h4>Matches</h4>

          <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">Matches Played</label>
            <div class="col-sm-6">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" :value="totalMatchesPlayed">
            </div>

            <label for="staticEmail" class="col-sm-4 col-form-label">Matches Won</label>
            <div class="col-sm-6">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" :value="this.userMatchInfo.matchesWon">
            </div>

            <label for="staticEmail" class="col-sm-4 col-form-label">Matches Tied</label>
            <div class="col-sm-6">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" :value="this.userMatchInfo.matchesTied">
            </div>

            <label for="staticEmail" class="col-sm-4 col-form-label">Matches Lost</label>
            <div class="col-sm-6">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" :value="this.userMatchInfo.matchesLost">
            </div>

          </div>
          

        </div>


      </div>

      
      <div class="row">
        <div class="col-lg-5 mx-auto">
          <h4>Economy</h4>

          <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">Referral Comission</label>
            <div class="col-sm-6">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" :value="this.userEconomyInfo.uplineComission">
            </div>

            <label for="staticEmail" class="col-sm-4 col-form-label">Total Deposits</label>
            <div class="col-sm-6">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" :value="this.userEconomyInfo.totalDeposits">
            </div>

            <label for="staticEmail" class="col-sm-4 col-form-label">Total Withdraws</label>
            <div class="col-sm-6">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" :value="this.userEconomyInfo.totalWithdraws">
            </div>

            <label for="staticEmail" class="col-sm-4 col-form-label">Total Earnings</label>
            <div class="col-sm-6">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" :value="this.userEconomyInfo.totalEarnings">
            </div>

          </div>
          

        </div>

        <div class="col-lg-5 mx-auto">
          <h4>Betting Room</h4>

          <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">Currency</label>
            <div class="col-sm-6">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" :value="this.bettingRoom.currency">
            </div>

            <label for="staticEmail" class="col-sm-4 col-form-label">Match Bet</label>
            <div class="col-sm-6">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" :value="bettingRoomCost">
            </div>

            <label for="staticEmail" class="col-sm-4 col-form-label">Fee</label>
            <div class="col-sm-6">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" :value="bettingRoomFee">
            </div>

            <label for="staticEmail" class="col-sm-4 col-form-label">Users In Room</label>
            <div class="col-sm-6">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" :value="this.bettingRoom.usersInRoom">
            </div>

          </div>
          

        </div>

      </div>
    </div>

      
  </section>

</template>

<script>
import API from '../api/Api';

export default {
  name: 'Profile',
  
  data() {
    return {
      dataLoaded: false,
      username: false,
      userMatchInfo: false,
      userEconomyInfo: false,
      registrationDate: false,
      numberOfReferrals: false,
      bettingRoom: false
    }
  },

  created() {
   this.axios.get(API.userProfileInfo)
    .then(response => {
        if (response.data !== null) {
            const profileInfo = response.data;
            this.username = profileInfo.username;
            this.userMatchInfo = profileInfo.userMatchInfo;
            this.userEconomyInfo = profileInfo.userEconomyInfo;
            this.registrationDate = profileInfo.registrationDate;
            this.numberOfReferrals = profileInfo.numberOfReferrals;
            this.bettingRoom = profileInfo.bettingRoom;
            this.dataLoaded = true;
        }

        this.$vs.loading.close("#loading-container-profile > .con-vs-loading");
    });
  },

  computed: {
    totalMatchesPlayed: function() {
      if (this.dataLoaded) {
          return parseInt(this.userMatchInfo.matchesWon)  +
                 parseInt(this.userMatchInfo.matchesTied) + 
                 parseInt(this.userMatchInfo.matchesLost)
      }

      return 0;
    },

    bettingRoomCost: function() {
        if (this.dataLoaded) {
            return this.bettingRoom.amount + "BTC - $" +this.bettingRoom.usdCost;
        }

        return 0;
    },

    bettingRoomFee: function() {
        if (this.dataLoaded) {
            return this.bettingRoom.fees + "BTC - $" +this.bettingRoom.feeUsdCost;
        }

        return 0;
    },
  },

  mounted() {
    if (!this.dataLoaded) {
      this.$vs.loading({
        container: '#loading-container-profile',
        type: 'point',
        scale: 0.9
      });
    }
    
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  margin: 40px 0 0;
}
</style>
