<template>
  <section id="loading-container" class="row vs-con-loading__container">
    <div class="container">
        <div class="col-lg-8 mx-auto">
          
          <h2>Register</h2>
            
            <div v-if="errors.length > 0" class="alert alert-danger">
              <ul>
                  <li v-for="(error, index) in errors" :key="index">
                      {{ error }}
                  </li>
              </ul>
            </div>
            
            <form @submit="register">
              <div class="form-group">
                <label for="email">Email address</label>
                <input v-model="email" type="email" class="form-control" value="" id="email" aria-describedby="emailHelp" name="email" placeholder="Enter email" required>
              </div>
              <div class="form-group">
                <label for="text">Username</label>
                <input v-model="username" type="text" class="form-control" id="username" value="" aria-describedby="emailHelp" name="username" placeholder="Enter username" required>
              </div>
              
              <div v-if="this.referredBy" class="form-group">
                <label for="referredBy">Referred By</label>
                <input v-model="referredBy" type="text" class="form-control" value="" id="referredBy" placeholder="Referred By" readonly>
              </div>
            

              <div v-if="this.bettingRooms.length > 0" class="form-group">
                <label for="exampleFormControlSelect1">Betting Room</label>
                <select class="form-control" id="bettingRoom" v-model="selectedBettingRoom" required>
                    <option v-for="(bettingRoom, index) in bettingRooms" :key="index" :selected="bettingRoom.id === 1" v-bind:value="bettingRoom.id">{{ bettingRoom.amount }} BTC (~${{bettingRoom.usdCost}}) - Fees: {{bettingRoom.fees}} BTC (~${{bettingRoom.feeUsdCost}}) - Users in Room: {{bettingRoom.usersInRoom}}</option>
                </select>

                <small id="emailHelp" class="form-text text-muted">Each time you play, that will be the bet you place, the more users in a betting room means less waiting time. This option can be changed later.</small>
              </div>

              <div class="form-group">
                <label for="btcCashout">BTC Cashout address</label>
                <input v-model="btcCashoutAddress" type="text" class="form-control" value="" id="btcCashout" name="btcCashout" placeholder="Bitcoin cashout address" required>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input v-model="password" type="password" class="form-control" value="" id="password" name="password" placeholder="Password" required>
              </div>

              <div class="form-group">
                <label for="password_repeat">Repeat Password</label>
                <input v-model="repeatPassword" type="password" class="form-control" id="password_repeat" name="password_repeat" placeholder="Repeat Password" required>
              </div>


              <button  type="filled" :disabled=disableSubmit color="primary" class="btn btn-primary">Register</button>
            </form>

        </div>
    </div>
  </section>
</template>

<script>
import API from '../api/Api';

export default {
  name: 'Register',

  data() {
    return {
      email: "",
      username: "",
      referredBy: "",
      password: "",
      repeatPassword: "",
      errors: [],
      disableSubmit: false,
      bettingRooms: [],
      selectedBettingRoom: null,
      btcCashoutAddress: "",
    }
  },

  watch: {
    repeatPassword: function(oldRepeatPassword) {
        if (oldRepeatPassword !== this.password){
          this.addError("Password don't match");
          this.disableSubmit = true;
        } else {
          this.deleteMessage("Password don't match");
          this.disableSubmit = false;
        }
    }
  },

  created() {
    if (this.$route.params.referredBy !== null) {
      this.referredBy = this.$route.params.referredBy;
    }
    
    this.axios.get(API.bettingRooms)
    .then((response) => {
        if (response.data !== null) {
            response.data.forEach(bettingRoom => {
                this.bettingRooms.push(bettingRoom);
            });
        }
    });
  },

  methods: {
    register: function(event) {
      event.preventDefault();
      this.$vs.loading({
        container: '#loading-container',
        type: 'point',
        scale: 0.9
      });
      
      this.cleanErrors();
    
      this.axios.post(API.register, {
        username: this.username,
        password: this.password,
        email: this.email,
        referredBy: this.referredBy,
        bettingRoom: this.selectedBettingRoom,
        cashoutAddresses: {
          "BTC": this.btcCashoutAddress
        }
      })

      .then((response) => {
        this.$vs.loading.close("#loading-container > .con-vs-loading");
        return response.data;
      })
      
      .then(user => {
         this.axios({
            method: 'post',
            url: API.userLogin,
            transformResponse: (res) => {
              return {};
            },
            responseType: 'json',
            data: {
              username: this.username,
              password: this.password,
            },
            
          }).catch(error => {
              
          }).then(response => {
            this.$store.commit("login", {authenticationToken: response.headers.authorization});
          }).then(response => {
             this.$router.push({name: "profile"});
          });
      
      })

      .catch((error) => {
        if (typeof error.response.data.errors !== "undefined") {
          error.response.data.errors.forEach(element => {
            this.addError(element.fieldName + " " + element.message);
          });
          
        } else {
          this.addError("Something weird happened, please contact us.");
        }

        this.$vs.loading.close("#loading-container > .con-vs-loading");
      });

    },
    cleanErrors: function() {
      this.errors = [];
    },
    addError: function(message) {
      if (this.errors.indexOf(message) === -1) {
        this.errors.push(message);
      }
    },
    deleteMessage: function(message) {
      let index = this.errors.indexOf(message);
      if (index > -1) {
        this.errors.splice(index, 1);
      }
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  margin: 40px 0 0;
}

li {
  list-style-type: none;
}
</style>
