<template>
  <section id="loading-container-transactions" class="vs-con-loading__container">
   
    
      <div class="col-lg-7 mx-auto">
        <h2>Transaction History</h2>

        <div class="mt-4 card">
          
          <div class="card-body">
            Information about all the transactions made on your wallets.
          </div>
        </div>
    
      
      <div id="selectCurrency" class="col-lg-2">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Select Currency</label>
            <select :v-if="dataLoaded" v-model="selectedCurrency" class="form-control" id="exampleFormControlSelect1">
                <option v-for="currency in currencies" :selected="selectedCurrency" :value="currency">{{ currency }}</option>
            </select>
        </div>
      </div>

      <table id="table1" class="mt-5 table table-bordered">
        <thead class="thead-light">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Type</th>
          <th scope="col">Amount</th>
          <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
          
          <tr v-if="dataLoaded" v-for="wallet in walleTransactions[selectedCurrency][currentPage]">
            <td>{{ wallet.id }}</td>
            <td>{{ wallet.type }}</td>
            <td>{{ wallet.amount }} {{ selectedCurrency }}</td>
            <td>{{ wallet.createdAt }}</td>
          </tr>
        
        </tbody>
        
      </table>
      <div class="col-xs-12 form-inline">
            <vs-pagination :total="totalPages" v-model="currentPage"></vs-pagination>
      </div>
    
    </div>
  
    
    
  </section>
</template>

<script>
import API from '../api/Api';

export default {
  name: 'Transactions',
  
  data() {
    return {
      dataLoaded: false,
      selectedCurrency: "BTC", // Default selected value
      walleTransactions: [],
      currencies: [],
      totalPages: 0,
      currentPage: 1,
      perPage: 10,
    
    }
  },

  created() {
   this.axios.get(API.myTransactions)
    .then(response => {
        if (response.data !== null) {

          for (let currency in response.data) {
              this.currencies.push(currency);
              this.totalPages = Math.ceil(response.data[currency].length/this.perPage);
            
              let addedToPage = 0;
              let currentPage = 1;
              response.data[currency].forEach(tx => {
                if (this.walleTransactions[currency] == undefined) {
                  this.walleTransactions[currency] = [];
                  
                } 

                if (addedToPage == this.perPage) { 
                  currentPage++;
                  addedToPage = 0;
                }

                if (this.walleTransactions[currency][currentPage] == undefined) {
                  this.walleTransactions[currency][currentPage] = [];
                }

                this.walleTransactions[currency][currentPage].push(tx);

                addedToPage++;
              });
          }
          
          this.dataLoaded = true;
        }

        this.$vs.loading.close("#loading-container-transactions > .con-vs-loading");
    });
  },

  mounted() {
    if (!this.dataLoaded) {
      this.$vs.loading({
        container: '#loading-container-transactions',
        type: 'point',
        scale: 0.9
      });
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  margin: 40px 0 0;
}

#selectCurrency {
  margin-top: 20px;
  margin-left: -14px;
}
</style>
