<template>
  <div id="app" class="bg-light">
    <div v-if="this.$route.name != 'gameclient'">
      <navigation></navigation>
      <logo-header></logo-header>
      <notifications></notifications>
      <router-view />
    </div>
    <div v-else>
      <router-view />
    </div>
  </div>
</template>

<script>

import Navigation from './components/Navigation.vue'
import LogoHeader from './components/LogoHeader.vue'
import Notifications from './components/Notifications.vue'

export default {
  name: 'app',
  components: {
    Navigation,
    LogoHeader,
    Notifications
  },
  
}
</script>

